<template>
  <ProductList />
</template>

<script>

import ProductList from '@/components/ProductList/index'

export default {
    name: 'Products',
    components: { ProductList },
    props: {
    },
    data() {
        return {
        }
    },
    created() {
    },
    methods: {
    }

}
</script>
