<template>
  <v-footer class="footer" app absolute>
    <div class="row">
      <div class="md-4 pa-12">
        <h3>Контакты</h3>
        <span>Адрес: Сюда забить какойнибудьадрес</span>
        <span>E-mail: indigo.opt.korea@gmail.com</span>
        <span>Phone: 7853485858</span>
      </div>
      <div class="md-4 pa-12">
        <a href="/" class="main-link">Indigo</a>
        <span>An oasis of online beauty built specifically so your new cosmetics site can take everyone’s breaths away.</span>
      </div>
      <div class="md-4 pa-12">
        <h3>COLLECTIONS</h3>
      </div>
    </div>
  </v-footer>
</template>

<script>

</script>

<style scoped>
.footer {
background-color: black !important;
color: white !important;
}
span {
  display: block;
}
.main-link {
   font-family: "TuesdayNight" !important;
  font-size: 52px;;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding-left: 40px;
}
</style>