﻿

.order-header {
    color: white;
    padding: 2%;
}

.order-container {
    color: black;
    margin: 2%;
}

.order-text {
    display: block !important;
    color: black !important;
}

.order-product-container {

}

.order-total-text {
    text-align: right;
    color: white;
    padding: 2%;
}

.order-user-container {
    padding: 3%;
    width: 100%;
    background-color: white;
    -ms-border-radius: 0.25rem;
    border-radius: 0.25rem;
}

.order-user-container-wrapper {
    padding: 2%;
    width: 100%;
}