body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Lato,sans-serif" !important;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #2e2e2e;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  display: block;
}

h2 {
  display: block;
}

h3 {
  display: block;
}