body {
    background: #1C1C1C !important;
}

span {
    color: white;
    font-family: "Roboto";
    font-size: 18px;
}

h5 {
    color: #000000;
}

p {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

.header {
    padding: 2%;
    overflow-x: hidden;
    background: #2a2a2a;
    color: white;
}

.main-nav {
    background: #252324 !important;
}

.container-fluid {
    padding: 0 !important;
}

.logo {
    background: url("/images/logo.png");
    background-repeat: no-repeat;
}

.slider-container {
    height: 555px;
    background-image: url("/images/slider_back.png");
    background-repeat: no-repeat;
}

.slider-wrapper {
    padding-top: 65px;
}

.contact-container {
    padding: 2%;
}

.search-box-container {
    padding-top: 5%;
}

.text-input {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.load-spinner {
    width: 100%;
    height: 100%;
    font-size: 135px !important;
    color: black;
}

.main-page {
    min-height: 700px;
}

.main-grid-container {
    background-color: #252324 !important;
}


.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.close  > span {
    color: #000000 !important;
}


.nav-item {
    padding-left: 15px;
    padding-right: 15px;
}